doctype
html
	head
		title Xpto.Net
		link(rel="stylesheet", href="/lib/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="/css/site.css")
		base(href="/")
	body(ng-app="xpto")
		include currentUser
		block main-content
		include scripts